In [1]:
import pandas as pd
import numpy as np

In [5]:
pred = np.load(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\codice\risultati_modelli\fede4-3\y_val_pred.npy")

In [9]:
y_validation = np.load('../../data/scaled/y_validation.npy')

In [10]:
y_validation[121033]

array([804], dtype=int64)

In [6]:
np.argmax(pred)

121033

In [7]:
pred[121033]

array([12725.987], dtype=float32)

In [4]:
val = np.load(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\data\scaled\x_train_scaled.npy")

In [5]:
len(val)

968388

In [11]:
valdf = pd.read_csv(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\data\x_train_no_out_dist.csv")

In [15]:
x = valdf[(valdf["trip_duration"] == 804)]

In [16]:
x[x["dis"] == max(x["dis"])]

,trip_duration,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count_0,...,County_New York,County_Queens,County_Richmond,County_Rockland,County_Suffolk,County_Westchester,pickup_date,pickup_hour,pickup_weekday,dis
611165,804,id0401529,2,2016-06-02 15:19:35,2016-06-02 15:32:59,-73.980751,40.757111,-74.240051,38.478298,0,...,1,0,0,0,0,0,2016-06-02,15,3,98.754845

In [4]:
traindf = pd.read_csv(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\data\train.csv")

In [8]:
traindf[traindf["trip_duration"] < 20]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
842,id3263580,2,2016-05-21 12:46:46,2016-05-21 12:46:49,2,-73.782372,40.648766,-73.782372,40.648746,N,3
1107,id0729156,2,2016-06-23 13:36:48,2016-06-23 13:36:50,3,-73.827660,40.716175,-73.822113,40.711452,N,2
1492,id2456838,1,2016-01-13 20:11:46,2016-01-13 20:11:53,1,-73.793442,40.644814,-73.795242,40.644669,N,7
1728,id2134482,1,2016-01-22 16:13:01,2016-01-22 16:13:20,1,-73.776314,40.645454,-73.776314,40.645454,N,19
1960,id0508736,1,2016-03-30 08:05:38,2016-03-30 08:05:41,1,-73.964096,40.777172,-73.964088,40.777157,N,3
...,...,...,...,...,...,...,...,...,...,...,...
1456613,id2650432,1,2016-06-06 18:37:15,2016-06-06 18:37:24,1,-73.789665,40.646984,-73.789658,40.646976,N,9
1457121,id2651184,1,2016-04-03 07:24:06,2016-04-03 07:24:13,1,-73.913620,40.765675,-73.913620,40.765667,N,7
1457746,id1044471,2,2016-01-29 21:58:11,2016-01-29 21:58:23,1,-73.975708,40.733089,-73.975685,40.733101,N,12
1458044,id3200588,2,2016-03-12 01:35:35,2016-03-12 01:35:42,1,-74.007378,40.739441,-74.007378,40.739449,N,7
1458085,id1326136,2,2016-05-21 12:07:11,2016-05-21 12:07:28,1,-73.978935,40.762463,-73.977654,40.762012,N,17