In [2]:
import pandas as pd
import numpy as np

In [3]:
pred = np.load(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\codice\risultati_modelli\test_scatter\y_val_pred.npy")

In [8]:
np.argmax(pred)

104134

In [9]:
val = np.load(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\data\scaled\x_validation_scaled.npy")

In [10]:
val[104134]

array([ 2.04873084e+02,  1.31138141e-01, -3.15737091e-01, -2.45964529e-01,
       -1.16347744e+01,  2.43282041e+02, -1.29670527e+01,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+00,  0.00000000e+00])

In [11]:
valdf = pd.read_csv(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\data\x_validation_no_out_dist.csv")

In [12]:
valdf.iloc[104134]

id                                id1001696
vendor_id                                 1
pickup_datetime         2016-02-24 21:02:32
dropoff_datetime        2016-02-24 21:25:57
pickup_longitude                   -73.9724
pickup_latitude                     40.7586
dropoff_longitude                  -79.5535
dropoff_latitude                     43.674
County                             New York
passenger_count_0                         0
passenger_count_1                         1
passenger_count_2                         0
passenger_count_3                         0
passenger_count_4                         0
passenger_count_5                         0
passenger_count_6                         0
passenger_count_7                         0
passenger_count_8                         0
passenger_count_9                         0
store_and_fwd_flag_N                      1
store_and_fwd_flag_Y                      0
pickup_date                      2016-02-24
pickup_hour                              21
pickup_weekday                            2
dis                                 710.094
Name: 104134, dtype: object

In [13]:
valdf

,id,vendor_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,County,passenger_count_0,...,passenger_count_6,passenger_count_7,passenger_count_8,passenger_count_9,store_and_fwd_flag_N,store_and_fwd_flag_Y,pickup_date,pickup_hour,pickup_weekday,dis
0,id2171730,2,2016-02-09 12:28:28,2016-02-09 12:51:24,-73.974419,40.746948,-73.963493,40.709522,New York,0,...,0,0,0,0,1,0,2016-02-09,12,1,2.363710
1,id1704135,1,2016-05-17 22:59:06,2016-05-17 23:08:43,-73.968674,40.799000,-73.948151,40.784634,New York,0,...,0,0,0,0,1,0,2016-05-17,22,1,2.723216
2,id2492832,1,2016-04-06 21:19:35,2016-04-06 21:35:14,-73.980057,40.743237,-73.951988,40.785404,New York,0,...,0,0,0,0,1,0,2016-04-06,21,2,4.415065
3,id3454730,1,2016-03-31 22:27:31,2016-03-31 22:36:38,-73.978989,40.785175,-73.952736,40.790997,New York,0,...,0,0,0,0,1,0,2016-03-31,22,3,3.097818
4,id2441082,1,2016-02-09 22:40:29,2016-02-09 22:57:45,-73.997055,40.731518,-73.992592,40.746262,New York,0,...,0,0,0,0,1,0,2016-02-09,22,1,0.948256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415672,id0670235,2,2016-03-08 22:06:05,2016-03-08 22:16:09,-73.862640,40.768986,-73.885063,40.753620,Queens,0,...,0,0,0,0,1,0,2016-03-08,22,1,2.968184
415673,id0351870,2,2016-06-20 04:14:03,2016-06-20 04:15:46,-73.988297,40.748981,-73.986572,40.758190,New York,0,...,0,0,0,0,1,0,2016-06-20,4,0,0.474169
415674,id3213321,2,2016-04-12 23:49:41,2016-04-12 23:51:23,-73.971390,40.757992,-73.974983,40.753006,New York,0,...,0,0,0,0,1,0,2016-04-12,23,1,0.552651
415675,id1479846,1,2016-01-21 17:03:14,2016-01-21 17:15:12,-73.976540,40.751690,-73.990913,40.750008,New York,0,...,0,0,0,0,1,0,2016-01-21,17,3,1.649926
415676,id0088688,1,2016-01-17 12:42:27,2016-01-17 12:51:39,-73.957603,40.776878,-73.975906,40.765511,New York,0,...,0,0,0,0,1,0,2016-01-17,12,6,2.384508

In [4]:
traindf = pd.read_csv(r"C:\Users\feder\Google Drive\Universita\Materie\Advanced machine learning\Progetto\data\train.csv")

In [8]:
traindf[traindf["trip_duration"] < 20]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
842,id3263580,2,2016-05-21 12:46:46,2016-05-21 12:46:49,2,-73.782372,40.648766,-73.782372,40.648746,N,3
1107,id0729156,2,2016-06-23 13:36:48,2016-06-23 13:36:50,3,-73.827660,40.716175,-73.822113,40.711452,N,2
1492,id2456838,1,2016-01-13 20:11:46,2016-01-13 20:11:53,1,-73.793442,40.644814,-73.795242,40.644669,N,7
1728,id2134482,1,2016-01-22 16:13:01,2016-01-22 16:13:20,1,-73.776314,40.645454,-73.776314,40.645454,N,19
1960,id0508736,1,2016-03-30 08:05:38,2016-03-30 08:05:41,1,-73.964096,40.777172,-73.964088,40.777157,N,3
...,...,...,...,...,...,...,...,...,...,...,...
1456613,id2650432,1,2016-06-06 18:37:15,2016-06-06 18:37:24,1,-73.789665,40.646984,-73.789658,40.646976,N,9
1457121,id2651184,1,2016-04-03 07:24:06,2016-04-03 07:24:13,1,-73.913620,40.765675,-73.913620,40.765667,N,7
1457746,id1044471,2,2016-01-29 21:58:11,2016-01-29 21:58:23,1,-73.975708,40.733089,-73.975685,40.733101,N,12
1458044,id3200588,2,2016-03-12 01:35:35,2016-03-12 01:35:42,1,-74.007378,40.739441,-74.007378,40.739449,N,7
1458085,id1326136,2,2016-05-21 12:07:11,2016-05-21 12:07:28,1,-73.978935,40.762463,-73.977654,40.762012,N,17